{% if dovecot_ssl | default(false) %}
ssl = required
ssl_cert = <{{ dovecot_ssl_cert_path }}
ssl_key = <{{ dovecot_ssl_key_path }}
ssl_options = no_compression
ssl_prefer_server_ciphers = yes
ssl_min_protocol = TLSv1.2
ssl_dh = </etc/dovecot/dh2048.pem

ssl_cipher_list = EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+CAMELLIA256:+AES256+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!ECDSA:CAMELLIA256-SHA:AES256-SHA:CAMELLIA128-SHA:AES128-SHA
{% endif %}
