# Do not remove the following line, or various programs
# that require network functionality will fail.
127.0.0.1		localhost.localdomain localhost
::1		        localhost6.localdomain6 localhost6


{% if datacenter == 'ral3' %}
{% if ansible_fqdn in groups['ipaservers'] %}
{% for host in groups['ipaservers'] %}
{{ hostvars[host].ansible_eth1.ipv4.address }} {{ hostvars[host].ansible_fqdn }} {{ hostvars[host].ansible_hostname }}
{% endfor %}
{% endif %}
{% elif datacenter == 'osuosl' %}
8.43.85.20 vpn.gnome.org
{% endif %}
