global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 127.0.0.1:9093

rule_files:
  - rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets:
      - 127.0.0.1:9090

  - job_name: 'node'
    static_configs:
{% for hostgroup in prometheus_node_hostgroups %}
    - targets:
{% for host in groups[hostgroup] %}
      - vpn.{{ host }}:9100
{% endfor %}
      labels:
        hostgroup: {{ hostgroup }}
{% endfor %}
    - targets:
{% for target in prometheus_static_node_targets | default([]) %}
      - {{ target }}
{% endfor %}
    relabel_configs:
    - source_labels: [ __address__ ]
      target_label: instance
      regex: vpn.(.*)

  - job_name: 'bbb'
    scheme: https
    static_configs:
    - targets:
      - bbb-exporter.apps.openshift4.gnome.org

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [https_2xx]
    static_configs:
      - targets:
        - https://idm01.gnome.org/ipa/ui/
        - https://idm02.gnome.org/ipa/ui/
        - https://webmail.gnome.org
        - https://hedgedoc.gnome.org
        - https://bugzilla.gnome.org
        - https://blogs.gnome.org
        - https://blog.gtk.org
        - https://cloud.gnome.org
        - https://odrs.gnome.org
        - https://gitlab.gnome.org/groups
        - https://developer.gnome.org
        - https://glade.gnome.org
        - https://help.gnome.org
        - https://planeta.br.gnome.org
        - https://planeta.gnome.cl
        - https://planet.gnome.org
        - https://download.gnome.org
        - https://paste.gnome.org/status
        - https://mail.gnome.org
        - https://l10n.gnome.org
        - https://extensions.gnome.org
        - https://wiki.gnome.org
        - https://nmcheck.gnome.org/check_network_status.txt
        - https://www.gnome.org
        - https://discourse.gnome.org
        - https://events.gnome.org
        - https://www.gnome.gr
        - https://gnomehispano.org
        - https://es.gnome.org
        - https://planeta.es.gnome.org
        - https://gtk.org
        - https://www.gimp.org
        - https://docs.gimp.org
        - https://surveys.gnome.org
        - https://meet.gnome.org
        - https://nightly.gnome.org/status
        - https://shop.gnome.org
        - https://openqa.gnome.org
        - https://console-openshift-console.apps.openshift4.gnome.org
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: gitlab_database
    metrics_path: "/database"
    scheme: https
    static_configs:
      - targets:
        - prometheus-exporter-gitlab.apps.openshift4.gnome.org
  - job_name: gitlab_internals
    scheme: https
    metrics_path: "/-/metrics"
    static_configs:
      - targets:
        - gitlab.gnome.org
  - job_name: gitlab_sidekiq
    scheme: https
    metrics_path: "/sidekiq"
    static_configs:
      - targets:
        - prometheus-exporter-gitlab.apps.openshift4.gnome.org
  - job_name: gitlab_gitaly
    static_configs:
      - targets:
        - gitlab-git-svcs.gnome.org:9236

  - job_name: 'openshift4'
    scheme: https
    honor_labels: true
    bearer_token: {{ prometheus_openshift4_token }}
    metrics_path: '/federate'
    params:
      'match[]':
      - '{job="etcd"}'
      - '{job="node-exporter"}'
      - '{job="kubelet"}'
      - '{job="kube-state-metrics"}'
    static_configs:
    - targets:
      - prometheus-k8s-openshift-monitoring.apps.openshift4.gnome.org
    metric_relabel_configs:
    - source_labels: [ prometheus_replica ]
      regex: prometheus-k8s-1
      action: drop
{% for host in groups['oscp4'] %}
    - source_labels: [ instance ]
      target_label: instance
      regex: {{ hostvars[host]['master_node_ip'] }}:.*
      replacement: {{ host }}
{% endfor %}
    - source_labels: [ job ]
      target_label: job
      regex: etcd
      replacement: openshift4-etcd
    - source_labels: [ job ]
      target_label: job
      regex: node-exporter
      replacement: node
    - source_labels: [ job ]
      target_label: job
      regex: kubelet
      replacement: openshift4-kubelet
    - source_labels: [ job ]
      target_label: job
      regex: kube-state-metrics
      replacement: openshift4-kube-state-metrics

  - job_name: openshift4-postgresql
    scheme: https
    static_configs:
      - targets:
        - postgresql-exporter-primary.apps.openshift4.gnome.org
        - postgresql-exporter-replica.apps.openshift4.gnome.org

  - job_name: openshift4-mysqld
    scheme: https
    static_configs:
      - targets:
        - mysqld-exporter-0.apps.openshift4.gnome.org
        - mysqld-exporter-1.apps.openshift4.gnome.org
        - mysqld-exporter-2.apps.openshift4.gnome.org
